/**************** Navigation ******************/
#titleIcon {
    margin-right: 5px;
    margin-top: -5px;
}

/****************** Header ********************/
header {
    background: #ACC5EE url('../img/stonehenge.jpg') top center no-repeat fixed;
    background-size: cover;
    padding-top: 5%;
    height: 95%;
}

/*************** Main Content *****************/
h1 {
    margin-top: 0;
}

main {
    padding: 20px 0 20px 0;
}

/***************** Fußzeile *******************/
footer {
    min-height: 70px;
    padding-top: 25px;
    color: #ddd;
}